@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

@import "Booking.css";
@import "BookingsList.css";
@import "Calendar.css";
@import "CampgroundAddModal.css";
@import "CampgroundGallery.css";
@import "CampgroundViewEditModal.css";
@import "Contact.css";
@import "Footer.css";
@import "Information.css";
@import "Jumbotron.css";
@import "Login.css";
@import "Map.css";
@import "Navbar.css";
@import "Register.css";
@import "Scrollbar.css";
@import "ShowPage.css";
@import "Utilities.css";
@import "WeatherApp.css";

:root {
  --primary-color: #78abf5;
  --secondary-color: rgb(255, 237, 78);
  --tertiary-color: #e87d7f;
  --quanternary-color: #ffc07d;
  --quinary-color: #c67dff;
  --primary-grey: rgb(231, 231, 231);
  --secondary-grey: rgb(237, 237, 237);
  --alpha: 0.8;
}

html,
body {
  font-family: "Roboto", sans-serif;
  color: black;
  padding: 0;
  margin: 0;
  font-weight: 300;
  width: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  background-size: cover;
  background-position: center;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
    url("https://images.unsplash.com/photo-1469212044023-0e55b4b9745a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjF9");
  background-repeat: no-repeat;
  background-attachment: fixed;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

@media (max-width: 500px) {
  body {
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-size: auto;
    background-position: center;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)),
      url("https://images.unsplash.com/photo-1469212044023-0e55b4b9745a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&ixid=eyJhcHBfaWQiOjF9");
    background-repeat: no-repeat;
    background-attachment: scroll;
    -o-background-size: auto;
    -moz-background-size: auto;
    -webkit-background-size: auto;
  }
}
