#google-map {
  position: relative;
  padding-bottom: 50%;
  margin-top: 5%;
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 500px) {
  #google-map {
    margin: 15% 0;
    padding-bottom: 75%;
  }
}
