.main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 0.25rem;
  background: #000000b9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
.main-nav div ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.main-nav div ul li {
  padding: 1rem 1.5rem;
}
.main-nav div ul li a {
  text-decoration: none;
  font-weight: 300;
  color: #fff;
  text-transform: uppercase;
  border-bottom: 1px transparent solid;
  width: 100%;
  display: block;
  padding-bottom: 0.4rem;
  transition: border-color 0.3s;
  cursor: pointer;
}
.main-nav a:hover {
  border-color: var(--secondary-color);
}
.main-nav a.current {
  border-color: var(--primary-color);
}
.main-nav .text-nav-right {
  color: var(--primary-color);
}

.navbar {
  padding: 0.2rem 0rem;
}

.navbar-brand {
  padding: 0 1rem 0 1rem;
  margin-left: 5%;
}

.navbar-logo {
  height: 40px;
  width: auto;
}

.main-nav div ul li {
  padding: 0.5rem 1.5rem;
}

.main-nav div ul li a {
  padding: 0.3rem;
}

.navbar-toggler {
  margin-right: 1rem;
}

/* Auth */
.navbar-right-push {
  content: "";
  margin-right: 5%;
}
.main-nav a.auth-link:hover {
  border-color: white;
  color: var(--primary-color);
}

.user-icon {
  margin-right: 0.5rem;
  font-size: 1.05rem;
}

.navbar-confirm {
  margin: auto;
  border: 1px solid var(--primary-color);
  padding: 0.2rem 2rem;
  color: rgb(112, 112, 112);
  font-weight: 300;
  font-size: 1.1rem;
}

.navbar-confirm:hover {
  color: rgb(245, 245, 245);
  text-decoration: none;
  background: linear-gradient(
    90deg,
    var(--primary-color),
    var(--quinary-color)
  );
}

.navbar-confirm-button-container {
  margin-top: 9%;
  text-align: center;
}
